<div class="container">
  <div class="arrow-steps clearfix">
    <div #leftStepsContainer>
      <div class="step left" *ngFor="let item of data.left"><span> <a href="#">{{item}}</a></span></div>
    </div>
    <div #rightStepsContainer>
      <div class="step right" *ngFor="let item of data.right"><span> <a href="#">{{item}}</a></span></div>
    </div>
  </div>
  <div class="nav clearfix">
    <button (click)="prev()" class="prev">Previous</button> |
    <button (click)="next()" class="next pull-right">Next</button>
  </div>
</div>
