.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}

.container {
  font-family: 'Lato', sans-serif;

  .nav {
    margin-top: 100px;
  }

  .arrow-steps {
    .step {
      font-size: 18px;
      text-align: center;
      color: #777;
      cursor: default;
      margin: 0;
      padding: 15px 0 15px 0;
      width: 8%;
      float: left;
      position: relative;
      background-color: #ddd;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      &.current a {
        color: #fff;
      }

      a {
        color: #ddd;
        text-decoration: none;
        font-weight: bold;
      }

      &.filled {
        color: #fff;
      }

      &.filled a {
        color: #fff;
        text-decoration: none;
      }
    }

    @mixin last-item {
      border: none;
      height: 1.55rem;

      background-color: white;

      a {
        color: white;
      }

      &:after {
        border: none;
      }
    }

    @mixin items-splitter {
        content: "";
        position: absolute;
        right: -2px;
        width: 0;
        height: 22px;
        //border-top: 38px solid transparent;
        //border-bottom: 34px solid transparent;
        border-left: 1px solid black;
        //z-index: 2;
    }

    @mixin current-item {
      content: "";
      position: absolute;
      top: -1.5rem;
      width: 0;
      height: 0;
      border-top: 48px solid transparent;
      border-bottom: 54px solid transparent;
      //z-index: 2;
    }

    .left {
      &:first-child {
        @include last-item;
        border-right: 2px solid black;
      }

      &:before {
        @include items-splitter;
        top: -24px;
      }

      span {
        position: relative;
        float: right;
      }

      &.current:after {
        @include current-item;
        right: -0.13rem;
        border-right: 60px solid #00B050;
      }

      &.filled {
        background-color: #00B050;
      }
    }

    .right {

      &.current:before {
        @include current-item;
        left: -0.11rem;
        border-left: 60px solid #5599e5;
      }

      &:after {
        @include items-splitter;
        bottom: -24px;
      }

      &:first-child {
        border-left: 2px solid black;
      }

      &:last-child {
        @include last-item;
        border-left: 2px solid black;
      }

      span {
        position: relative;
        float: left;
      }

      &.filled {
        background-color: #5599e5;
      }
    }
  }
}
